# Hackathon MKB 2021

В данном нотебуке показан пример правильного файла с ответами для отправки на проверку.

##  Подготовка данных

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Скачиваем обучющую выборку
!wget https://github.com/dsbattle/hackathon-mkb/raw/master/train_dataset_hackathon_mkb.csv
!wget https://github.com/dsbattle/hackathon-mkb/raw/master/test_dataset_hackathon_mkb.csv

--2021-11-30 19:01:31--  https://github.com/dsbattle/hackathon-mkb/raw/master/train_dataset_hackathon_mkb.csv
Resolving github.com (github.com)... 192.30.255.112
Connecting to github.com (github.com)|192.30.255.112|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/dsbattle/hackathon-mkb/master/train_dataset_hackathon_mkb.csv [following]
--2021-11-30 19:01:31--  https://raw.githubusercontent.com/dsbattle/hackathon-mkb/master/train_dataset_hackathon_mkb.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 9253323 (8.8M) [text/plain]
Saving to: ‘train_dataset_hackathon_mkb.csv.3’

train_dataset_hacka 100%[===================>]   8.82M  --.-KB/s    in 0.08s

2021-11-30 19:01:31 (117 MB/s) - ‘train_dataset_hackathon_mkb.csv.3’ saved [9253323/9253323]

--2021-11-30 19:01:31--  https://github.com/dsbattle/hackathon-mkb/raw/master/test_dataset_hackathon_mkb.csv
Resolving github.com (github.com)... 192.30.255.112
Connecting to github.com (github.com)|192.30.255.112|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/dsbattle/hackathon-mkb/master/test_dataset_hackathon_mkb.csv [following]
--2021-11-30 19:01:31--  https://raw.githubusercontent.com/dsbattle/hackathon-mkb/master/test_dataset_hackathon_mkb.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3581209 (3.4M) [text/plain]
Saving to: ‘test_dataset_hackathon_mkb.csv.3’

test_dataset_hackat 100%[===================>]   3.42M  --.-KB/s    in 0.05s

2021-11-30 19:01:31 (72.8 MB/s) - ‘test_dataset_hackathon_mkb.csv.3’ saved [3581209/3581209]

In [ ]:
train = pd.read_csv('train_dataset_hackathon_mkb.csv', sep=';', encoding='cp1251')
print(f'Размер обучающей выборки: {train.shape}')
train.head()

Размер обучающей выборки: (17891, 124)

   id_contract  id_client           SIGN_DATE  ...  AGE  SEX_NAME  CITIZENSHIP_NAME
0            1       1847  01JAN2018:00:00:00  ...  NaN       NaN               NaN
1            2       4650  01JAN2018:00:00:00  ...  NaN       NaN               NaN
2            3       4770  01JAN2018:00:00:00  ...  NaN       NaN               NaN
3            4      12237  01JAN2018:00:00:00  ...  NaN       NaN               NaN
4            5       9988  01JAN2018:00:00:00  ...  NaN       NaN               NaN

[5 rows x 124 columns]

In [ ]:
test = pd.read_csv('test_dataset_hackathon_mkb.csv', sep=';', encoding='cp1251')
print(f'Размер тестовой выборки: {train.shape}')
test.head()

Размер тестовой выборки: (17891, 124)

   id_contract  id_client           SIGN_DATE  ...  AGE  SEX_NAME  CITIZENSHIP_NAME
0        17892       3620  08APR2019:00:00:00  ...  NaN       NaN               NaN
1        17893       4101  08APR2019:00:00:00  ...  NaN       NaN               NaN
2        17894       9589  08APR2019:00:00:00  ...  NaN       NaN               NaN
3        17895      11546  08APR2019:00:00:00  ...  NaN       NaN               NaN
4        17896      12558  08APR2019:00:00:00  ...  NaN       NaN               NaN

[5 rows x 123 columns]

In [ ]:
train_c = train.copy()
test_c = test.copy()

In [ ]:
import time

## Описание полей
Описание полей доступно по [ссылке](https://hackathon-mkb.ru/data/data_description.xlsx)

![image.png]()

In [ ]:
lable_col = 'TARGET'
#features_cols = train.drop('TARGET', axis='columns').select_dtypes(include=[np.number]).columns.tolist()

In [ ]:
#считаем количество контрактов в день от одного пользователя
def calcCOUNTD(train, test):
  train, test = train.copy(), test.copy()

  df = pd.concat([train.drop(columns=['TARGET']), test])


  df["COUNT_D"]=1

  df[["id_client", "SIGN_DATE", "COUNT_D"]].groupby(["id_client", "SIGN_DATE"]).sum()

  train = train.merge(df[["id_client", "SIGN_DATE", "COUNT_D"]].groupby(["id_client", "SIGN_DATE"]).sum(), on=["id_client", "SIGN_DATE"], how="left")
  test = test.merge(df[["id_client", "SIGN_DATE", "COUNT_D"]].groupby(["id_client", "SIGN_DATE"]).sum(), on=["id_client", "SIGN_DATE"], how="left")
  return (train, test)

In [ ]:
def parseData(s):
    if(isinstance(s, str)==False):
      return 0
    day = s[:2]
    mon = s[2:5]
    year=s[5:9]
    lm = ["JAN", "FEB", "MAR", "APR", "MAY","JUN","JUL", "AUG", "SEP", "OCT", "NOV", "DEC"]

    mon = lm.index(mon)+1
    day = int(day[1])  if(day[0]=='0') else int(day)
    year = int(year)
    st = time.struct_time(
    (year, mon, day,0,0,0,0,0,0)
    )
    return time.mktime(st)
#счиатем количество контрактов, которые были у клиента до этого контракта
def calcCOUNT(train, test):
  train, test = train.copy(), test.copy()

  df = pd.concat([train.drop(columns=['TARGET']), test])
  df["TIME"] = df["SIGN_DATE"].apply(parseData)

  l=[]
  id_cont = []
  for x in df.groupby(["id_client"]):
    dff = x[1]
    count = 1
    for id, y in zip(dff["id_contract"], dff["TIME"]):
      id_cont.append(id)
      l.append(count)
      count += 1


  train = train.merge(pd.DataFrame.from_dict({"id_contract":id_cont, "COUNT":l}), how="left", on = "id_contract")
  test = test.merge(pd.DataFrame.from_dict({"id_contract":id_cont, "COUNT":l}), how="left", on = "id_contract")
  
  
  return train, test

In [ ]:
import time 

#считаем сколько времени прошло с момента последнего контракта
def calcDIFFTIME(train, test):
  train, test = train.copy(), test.copy()


  df = pd.concat([train.drop(columns=['TARGET']), test])


  df["TIME"] = df["SIGN_DATE"].apply(parseData)

  l=[]
  id_cont = []
  for x in df.groupby(["id_client"]):
    dff = x[1]
    prev = -1
    for id, y in zip(dff["id_contract"], dff["TIME"]):
      id_cont.append(id)
      if(y==0):
        l.append(-2)
        continue

      if(prev != y):
        if(prev==-1):
          l.append(-1)
          prev = y
        else:
          l.append(y-prev)
          prev = y
      else:
        l.append(l[-1])

  train = train.merge(pd.DataFrame.from_dict({"id_contract":id_cont, "DIFF_TIME":l}), how="left", on = "id_contract")
  test = test.merge(pd.DataFrame.from_dict({"id_contract":id_cont, "DIFF_TIME":l}), how="left", on = "id_contract")
  return train, test

In [ ]:
#бывает что клиент заключает больше одного контракта в день.
#считаем сколько времени прошло с последнего такого "мультиконтракта"
def calcDIFFTIMEmultic(train, test):
  train, test = train.copy(), test.copy()


  df = pd.concat([train.drop(columns=['TARGET']), test])


  df["TIME"] = df["SIGN_DATE"].apply(parseData)

  l=[]
  id_cont = []
  for x in df.groupby(["id_client"]):
    dff = x[1]
    prev = -1
    prevd = -1
    for id, y, z in zip(dff["id_contract"], dff["TIME"], dff["COUNT_D"]):
      id_cont.append(id)
      if(y==0):
        l.append(-2)
        continue

      if(prev != y):
        if(prev==-1):
          l.append(-1)
        else:
          l.append(y-prev)
        
        if(z>1):
          prev = y
      else:
        l.append(l[-1])



  train = train.merge(pd.DataFrame.from_dict({"id_contract":id_cont, "DIFF_TIME_multic":l}), how="left", on = "id_contract")
  test = test.merge(pd.DataFrame.from_dict({"id_contract":id_cont, "DIFF_TIME_multic":l}), how="left", on = "id_contract")
  return train, test

In [ ]:
#считаем сколько времени в среднем проходило между контрактами до это контракта
def calcDIFFTIMEMEAN(train, test):
  train, test = train.copy(), test.copy()


  df = pd.concat([train.drop(columns=['TARGET']), test])


  df["TIME"] = df["SIGN_DATE"].apply(parseData)

  l=[]
  id_cont = []
  for x in df.groupby(["id_client"]):
    dff = x[1]
    cm = 0
    n = 0
    prev = -1
    for id, y, t in zip(dff["id_contract"], dff["DIFF_TIME"], dff["TIME"]):
      id_cont.append(id)
      if(y==-1):
        l.append(0)
        continue

      if(y==-2):
        l.append(-1)
        continue

      if(t!=prev):
        cm = cm*(n/(n+1)) + y/(n+1)
        n += 1
        l.append(cm)
      else:
        l.append(l[-1])
        
      prev=t

  train = train.merge(pd.DataFrame.from_dict({"id_contract":id_cont, "DIFF_TIME_mean":l}), how="left", on = "id_contract")
  test = test.merge(pd.DataFrame.from_dict({"id_contract":id_cont, "DIFF_TIME_mean":l}), how="left", on = "id_contract")
  return train, test

In [ ]:
#бывает что у ип есть юр лицо. Флаг равен единице если до этого мы видели клиента и как юр лицр и как ип
def CALCIPMEAN(train, test):
  train, test = train.copy(), test.copy()

  df = pd.concat([train.drop(columns=['TARGET']), test])

  train, test = train.copy(), test.copy()


  df = pd.concat([train.drop(columns=['TARGET']), test])


  df["TIME"] = df["SIGN_DATE"].apply(parseData)

  l=[]
  id_cont = []
  for x in df.groupby(["id_client"]):
    dff = x[1]
    cm = 0
    n = 0 
    for id, y in zip(dff["id_contract"], dff["IP_flag"]):
      id_cont.append(id)
      cm = cm*(n/(n+1)) + y/(n+1)
      n += 1
      l.append(1 if 0.0 < cm < 1.0 else 0)


  train = train.merge(pd.DataFrame.from_dict({"id_contract":id_cont, "IP_mean":l}), how="left", on = "id_contract")
  test = test.merge(pd.DataFrame.from_dict({"id_contract":id_cont, "IP_mean":l}), how="left", on = "id_contract")
  return train, test

In [ ]:
#сколько контрактов было в ближайшем "мультиконтракте"
def calcMULTIC(train, test):

  train, test = train.copy(), test.copy()

  df = pd.concat([train.drop(columns=['TARGET']), test])


  df["TIME"] = df["SIGN_DATE"].apply(parseData)

  l=[]
  id_cont = []
  for x in df.groupby(["id_client"]):
    dff = x[1]
    fl = 0
    prevt = -1

    for id, y, z in zip(dff["id_contract"], dff["TIME"], dff["COUNT_D"]):
      id_cont.append(id)

      if(y != prevt):
        l.append(fl)
        if(z>1):
          fl=z
        prevt = y
      else:
        l.append(l[-1])

  train = train.merge(pd.DataFrame.from_dict({"id_contract":id_cont, "MULTIC":l}), how="left", on = "id_contract")
  test = test.merge(pd.DataFrame.from_dict({"id_contract":id_cont, "MULTIC":l}), how="left", on = "id_contract")
  return train, test

In [ ]:
#Сколько раз контракт клиент встретился во всем датасете. Здесь вожможно есть заглядывание в будущее поэтому фича отключается по флагу в дальнейшем
def calcCOUNT2(train, test):
  train, test = train.copy(), test.copy()

  df = pd.concat([train.drop(columns=['TARGET']), test])

  df["COUNT"]=1

  df = df[["id_client", "COUNT"]].groupby("id_client").sum()

  return train.merge(df, how="left", on="id_client"), test.merge(df, how="left", on="id_client")

In [ ]:
def applyCommonTransforms(train, test, fair = True):
  if(fair):
    ct = [calcCOUNT, calcDIFFTIME, calcCOUNTD,calcDIFFTIMEMEAN,CALCIPMEAN, calcDIFFTIMEmultic, calcMULTIC]
  else:
    ct = [calcCOUNT2, calcDIFFTIME, calcCOUNTD,calcDIFFTIMEMEAN,CALCIPMEAN, calcDIFFTIMEmultic, calcMULTIC]

  for f in ct:
    train, test = f(train, test)
  return train, test

In [ ]:
from sklearn.base import BaseEstimator, TransformerMixin
from collections import defaultdict

#простой парсинг числовых фичей
class SimpleRealExtractor(BaseEstimator, TransformerMixin):
  def __init__(self):
    default_value = {}
    d = {}
    self.defaults = defaultdict(lambda:-1, d)
    self.throw = set(['OKATO_REGIONCODE', 'OKATO_FED', 'OKTMO_CODE', 'OKTMO_FED', "id_client", "id_contract"])
    self.add = []

  def fit(self, X, y = None):
    trow = set([])
    features_cols = X.drop('TARGET', axis='columns').select_dtypes(include=[np.number]).columns.tolist()
    features_cols = [x for x in  features_cols if x not in self.throw]
    features_cols = features_cols + self.add
    self.features_cols = features_cols
    return self

  def transform(self, X, y = None):
    X = X.copy()
    for f in self.features_cols:
      X[f] = X[f].fillna(self.defaults[f])

    return X[self.features_cols] #.values.tolist()

In [ ]:
from sklearn.preprocessing import OneHotEncoder
#one hot кодирование категориальных
class SimpleCategorialExtractor(BaseEstimator, TransformerMixin):
  def __init__(self):
    default_value = {}
    d = {}
    self.defaults = defaultdict(lambda:"Nan", d)
    self.throw = set(['SIGN_DATE', 'DATEFIRSTREG', 'TAXREG_REGDATE','TAXREGPAY_REGDATE', 'OKVED_CODE', 'BIRTHDATE'])
    self.add =['OKATO_REGIONCODE', 'OKATO_FED',  'OKTMO_FED'] #[]# [ 'OKATO_FED',  'OKTMO_FED'] #'OKTMO_CODE', many values
    #self.add = []

    self.oh = OneHotEncoder(handle_unknown='ignore')

  def fit(self, X, y = None):
    X = X.copy()
    trow = set([])
    features_cols = X.drop('TARGET', axis='columns').select_dtypes(include=[object]).columns.tolist()
    features_cols = [x for x in  features_cols if x not in self.throw]
    features_cols = features_cols + self.add
    self.features_cols = features_cols

    for f in self.features_cols:
      X[f] = X[f].fillna(self.defaults[f]).apply(str)


    vals = X[self.features_cols].values.tolist()

    self.oh.fit(vals)
    return self

  def transform(self, X, y = None):
    X = X.copy()
    for f in self.features_cols:
      X[f] = X[f].fillna(self.defaults[f]).apply(str)
    vals = X[self.features_cols].values.tolist()
    
    df = self.oh.transform(vals).todense().tolist()

    cols = []
    for znach, name in zip(self.oh.categories_, self.features_cols):
      for z in znach:
        cols.append(name + ":" + z)

    return pd.DataFrame(df, columns=cols)

In [ ]:
def get1OKVED(s):
  if(s.count(".") == 0) and (not s.isdigit()):
    return "No"
  else:
    return s.split('.')[0]

def get2OKVED(s):
  if(s.count(".") < 1):
    return "No"
  else:
    return s.split('.')[1]

#бьем оквед на подгруппы и кодируем one hot
class OKVEDExtractor(BaseEstimator, TransformerMixin):
  def __init__(self):
    self.oh = OneHotEncoder(handle_unknown='ignore')

  def fit(self, X, y = None):
    vals = [[x, y] for x, y in zip(X["OKVED_CODE"].apply(str).apply(get1OKVED).tolist(), X["OKVED_CODE"].apply(str).apply(get2OKVED).tolist())]
    self.oh.fit(vals)
    return self

  def transform(self, X, y = None):
    vals = [[x, y] for x, y in zip(X["OKVED_CODE"].apply(str).apply(get1OKVED).tolist(), X["OKVED_CODE"].apply(str).apply(get2OKVED).tolist())]
    
    df = self.oh.transform(vals).todense().tolist()

    cols = []
    for i, znach in enumerate(self.oh.categories_):
      for z in znach:
        cols.append("OKVED:" + str(i)+":" + z)

    return pd.DataFrame(df, columns=cols )

In [ ]:
#one hot частотных клиентов
class BestClientExtractor(BaseEstimator, TransformerMixin):
  def __init__(self, test):
    self.threshold = 5
    self.test_id = set(test.id_client)

  def fit(self, X, y = None):
    series = X["id_client"].value_counts()
    ids = []
    for x in series.index:
      if (series[x]>self.threshold)and(x in self.test_id):
        ids.append(x)
    self.good_ids = set(ids)

    vals = []
    for x in X["id_client"]:
      if(x in self.good_ids):

        vals.append([str(x)])
      else:
        vals.append(['None'])
    #print(ids)
    self.oh = OneHotEncoder(handle_unknown='ignore', categories = [[str(x) for x in ids]])
    self.oh.fit(vals)
    return self

  def transform(self, X, y = None):
    vals = []
    for x in X["id_client"]:
      if(x in self.good_ids):

        vals.append([str(x)])
      else:
        vals.append(['None'])
    df= self.oh.transform(vals).todense().tolist()

    cols = []
    for i, znach in enumerate(self.oh.categories_):
      for z in znach:
        cols.append("CLIENT:" + z)


    return pd.DataFrame( df, columns=cols )

In [ ]:
#one hot частотных октмо
class OKTMOExctractor(BaseEstimator, TransformerMixin):
  def __init__(self, test, fair = True):
    if(not fair):
      self.oh = OneHotEncoder(handle_unknown='ignore')

    self.threshold = 5
    self.test_id = set(test.OKTMO_CODE)
    self.fair = fair

  def fit(self, X, y = None):
    if(self.fair):
      series = X.drop(columns=["id_contract", "SIGN_DATE"]).drop_duplicates()["OKTMO_CODE"].value_counts()
    else:
      series = X["OKTMO_CODE"].value_counts()


    oktmo = []
    for x in series.index:
      if (series[x]>self.threshold)and(x in self.test_id):
        oktmo.append(x)
    self.good_oktmo = set(oktmo)

    vals = []
    for x in X["OKTMO_CODE"]:
      if(x in self.good_oktmo):

        vals.append([str(x)])
      else:
        vals.append(['None'])

    if(self.fair):
      self.oh = OneHotEncoder(handle_unknown='ignore', categories = [[str(x) for x in oktmo]])

    self.oh.fit(vals)
    return self

  def transform(self, X, y = None):
    vals = []
    for x in X["OKTMO_CODE"]:
      if(x in self.good_oktmo):

        vals.append([str(x)])
      else:
        vals.append(['None'])
    df = self.oh.transform(vals).todense().tolist()

    cols = []
    for i, znach in enumerate(self.oh.categories_):
      for z in znach:
        cols.append("OKTMO:" + z)

    return pd.DataFrame(df, columns=cols)

In [ ]:
#из октмо кода можно достать тип населенного пункта из котрого клиента
#из аула ркгионального центра или областного города и тд
def parse_oktmo(cod):
  if(cod == "nan"):
    return "nan","nan", "nan","nan","nan"

  cod = cod[:-2]
  if(len(cod)==10):
    cod = cod[1:]
  else:
    cod = cod[2:]
  P3, CP3, cod = cod[0], cod[1:3], cod[3:]

  if(P3=="8")or(P3=="9"):
    if("10" <= CP3 <= "29"):
      CP3="1"
    elif("30" <= CP3 <= "49"):
      CP3="2"
    elif("50" <= CP3 <= "98"):
      CP3="3"
    else:
      CP3="4"
  else:
    CP3="0"
  
  P6, CP6, cod = cod[0], cod[1:3], cod[3:]

  if(P6=="1"):
    if("01" <= CP6 <= "49"):
      CP6="1"
    elif("50" <= CP6 <= "99"):
      CP6="2"
    else:
      CP6="3"
  else:
    CP6="0"

  if(cod in set(["001", "051", "101"])):
    pass
  else:
    if("001" <= CP6 <= "049"):
      cod="002"
    elif("051" <= CP6 <= "099"):
      cod="52"
    elif("101" <= CP6 <= "999"):
      cod="102"
    else:
      cod="0"

  return P3, P6, CP3, CP6, cod 

class OKTMOExtractorNew(BaseEstimator, TransformerMixin):
  def __init__(self):
    self.oh = OneHotEncoder(handle_unknown='ignore')

  def fit(self, X, y = None):
    vals = X["OKTMO_CODE"].apply(str).apply(parse_oktmo).tolist()
    #print(vals)
    self.oh.fit(vals)
    return self

  def transform(self, X, y = None):
    vals = X["OKTMO_CODE"].apply(str).apply(parse_oktmo).tolist()
    df = self.oh.transform(vals).todense().tolist()

    cols = []
    for i, znach in enumerate(self.oh.categories_):
      for z in znach:
        cols.append("OKTMONEW:" + str(i)+":" + z)

    return pd.DataFrame(df, columns=cols )

In [ ]:
#кодируем время количеством секунд с начала unix эпохи
import time 
def parseData(s):
  if(isinstance(s, str)==False):
    return 0
  day = s[:2]
  mon = s[2:5]
  year=s[5:9]
  lm = ["JAN", "FEB", "MAR", "APR", "MAY","JUN","JUL", "AUG", "SEP", "OCT", "NOV", "DEC"]

  mon = lm.index(mon)+1
  day = int(day[1])  if(day[0]=='0') else int(day)
  year = int(year)
  st = time.struct_time(
  (year, mon, day,0,0,0,0,0,0)
  )
  return time.mktime(st)

class TimeExctractor(BaseEstimator, TransformerMixin):
  def __init__(self):
    self.features_cols=[ 'DATEFIRSTREG', 'TAXREG_REGDATE','TAXREGPAY_REGDATE', 'BIRTHDATE']

  def fit(self, X, y = None):
    return self
  def transform(self, X, y = None):
    X = X.copy()
    for f in self.features_cols:
      X[f] = X[f].apply(parseData)
    
    return X[self.features_cols]

In [ ]:
#решение с неоднозначной фичей
train, test = train_c.copy(), test_c.copy()
train, test = applyCommonTransforms(train, test, fair=False)

In [ ]:
#train = train.drop(columns=["COUNT"]).merge(train[["id_client", "SIGN_DATE", "COUNT"]].groupby(["id_client", "SIGN_DATE"]).max().reset_index(), on=["id_client", "SIGN_DATE"], how = "left")
#test = test.drop(columns=["COUNT"]).merge(test[["id_client", "SIGN_DATE", "COUNT"]].groupby(["id_client", "SIGN_DATE"]).max().reset_index(), on=["id_client", "SIGN_DATE"], how = "left")

## validation

In [ ]:
from sklearn.pipeline import FeatureUnion

In [ ]:

val_size = int(len(train)*0.33)

X_tr = train.iloc[:len(train)-val_size]
X_te = train.iloc[len(train)-val_size:]


y_train = X_tr["TARGET"]
y_val = X_te["TARGET"]

In [ ]:
transformer_list = [("SimpleReal", SimpleRealExtractor() ),
                      ("SimpleCat", SimpleCategorialExtractor() ),
                      ("OKVED", OKVEDExtractor()), #,
                      ("Good Client", BestClientExtractor(X_te) ),
                      ("Good regions", OKTMOExctractor(X_te, fair=False) ),
                      ("regions new code", OKTMOExtractorNew() ),
                      ("Time", TimeExctractor())
                      ]
                    
union = FeatureUnion(transformer_list)

In [ ]:
from sklearn.metrics import roc_auc_score
from lightgbm import LGBMClassifier
X_train = union.fit_transform(X_tr)
X_test = union.transform(X_te)

clf = LGBMClassifier(n_estimators=100)
clf.fit(X_train, y_train)
roc_auc_score(y_val, clf.predict_proba(X_test)[:,1] )

0.9624404713646764

In [ ]:
all_features = []
for n, t in transformer_list:
  all_features += list(t.fit_transform(train).columns.values)

In [ ]:
def parseMonth(s):
  if(isinstance(s, str)==False):
    return 0
  day = s[:2]
  mon = s[2:5]
  year=s[5:9]
  lm = ["JAN", "FEB", "MAR", "APR", "MAY","JUN","JUL", "AUG", "SEP", "OCT", "NOV", "DEC"]

  mon = lm.index(mon)+1
  day = int(day[1])  if(day[0]=='0') else int(day)
  year = int(year)
  st = time.struct_time(
  (year, mon, day,0,0,0,0,0,0)
  )
  return str(year) + '_' + (str(mon) if len(str(mon))==2 else '0'+ str(mon))


def custom_cv(train):
  MONTH = ['2018_11', '2018_12', '2019_01', '2019_02', '2019_03', '2019_04']
  for i in range(0,5):
    M = MONTH[i:]
    yield (train[~train.SIGN_DATE.apply(parseMonth).isin(M)].index.values, train[train.SIGN_DATE.apply(parseMonth).isin(M[:])].index.values)

In [ ]:
X_full_train = union.fit_transform(train)

In [ ]:
from lightgbm import LGBMClassifier
from sklearn.model_selection import cross_val_score
cv = cross_val_score(LGBMClassifier(n_estimators=100), X_full_train, train.TARGET.values, cv=custom_cv(train), scoring='roc_auc', n_jobs = 5)

In [ ]:
cv, cv.mean()

(array([0.9608006 , 0.96635374, 0.97052375, 0.96577507, 0.95044123]),
 0.9627788796936751)

## on all train

In [ ]:
clf = LGBMClassifier(n_estimators=1500, learning_rate=0.01)

In [ ]:
transformer_list = [("SimpleReal", SimpleRealExtractor() ),
                      ("SimpleCat", SimpleCategorialExtractor() ),
                      ("OKVED", OKVEDExtractor()), #,
                      ("Good Client", BestClientExtractor(test) ),
                      ("Good regions", OKTMOExctractor(test, fair=False) ),
                      ("regions new code", OKTMOExtractorNew() ),
                      ("Time", TimeExctractor())
                      ]
union = FeatureUnion(transformer_list)
X_full_train = union.fit_transform(train)
clf.fit(X_full_train, train.TARGET.values)

LGBMClassifier(learning_rate=0.01, n_estimators=1500)

In [ ]:
ypred = clf.predict_proba(union.transform(test))[:, 1]

## Features discussion

SyntaxError: ignored

Общей список фичей отсортированных по важности приведен ниже.   
В фичах из оригинального датасета можно найти достаточно простую зависимость.  
Чем у фирмы больше денег, чем она дольше существует, чем она больше, тем больше шанс что она выполнит контрак.  
Сгенерированные мной фичи(за исключенением октмо) отражают общую контрактную нагрузку. Чем она больше тем, меньше шанс, что фирма контракты выполнит.  
Топ придуманных мной фитчей:  
1)общее количество контрактов.  Контрактная нагрузка  
2)количество контрактов в день.  
3)время до предыдущего "мультиконтракта"(фирма заключала больше контракта в день).  
Я не работаю в этой области и мне трудно судить, почему так происходит, но если фирма заключает больше контракта в день. То меньше шанс что она выполнит их и остальные.
Не для всех областей это плохо(для туризма если смотреть на первое дерево бустинга это не так), но для большинства.
Чем больше времени прошло с "мультиконтракта", тем лучше

4)Время до ближайшего контракта   
5)Среднее время между контрактами.  
Третий контрак за год и третий контракт за месяц это разная нагрузка. И эти фичи помогают их различить  

6)Если у ип есть юр лицо, то видимо это крепкий хозяйственник и он выполняет контракты. Средний таргет таких клиентов близок к нулю

7) Тип области из котрой клиент. Парсится из октмо. Из крупного центра лучше чем из аула.  

Экономический смысл ориганальных фичей должен быть лучше известен организаторам.
Плолный список отсортированный по важности ниже

In [ ]:
all_features = []
for n, t in transformer_list:
  all_features += list(t.fit_transform(train).columns.values)

l = list(zip(clf.feature_importances_, all_features))
l.sort(key=lambda a: -a[0])
l

[(2297, 'COUNT'),
 (1282, 'DATEFIRSTREG'),
 (1033, 'TELEPHONECOUNT'),
 (851, 'F1250'),
 (706, 'TAXREG_REGDATE'),
 (682, 'WINNERNUMBER_95_EVER'),
 (677, 'DIFF_TIME'),
 (656, 'F1300'),
 (647, 'COUNT_D'),
 (634, 'F1230'),
 (619, 'DIFF_TIME_mean'),
 (575, 'F1210'),
 (557, 'OKVED:0:No'),
 (537, 'MANAGERCOUNTINCOUNTRY'),
 (532, 'SUM_95_YEAR'),
 (519, 'ADMITTEDNUMBER_95_EVER'),
 (518, 'F2350'),
 (508, 'DIFF_TIME_multic'),
 (486, 'ADMITTEDNUMBER_95_YEAR'),
 (478, 'F2200'),
 (462, 'F2400_LAG1'),
 (446, 'OKVED:0:46'),
 (417, 'F2110'),
 (410, 'F2410'),
 (408, 'MANAGERINNCOUNT'),
 (399, 'F2340'),
 (379, 'F2400'),
 (363, 'F2120_LAG1'),
 (361, 'WINNERNUMBER_95_YEAR'),
 (358, 'F1520'),
 (358, 'BIRTHDATE'),
 (357, 'SUM_95_EVER'),
 (352, 'F1520_LAG1'),
 (352, 'F2200_LAG1'),
 (347, 'F1100'),
 (343, 'F2100'),
 (342, 'TAXREGPAY_REGDATE'),
 (340, 'SIGNEDNUMBER_95_EVER'),
 (340, 'OKVED:1:46'),
 (338, 'F2120'),
 (337, 'F1500'),
 (336, 'NOTADMITTEDNUMBER_EVER'),
 (332, 'DEFENDANT_SUM_EVER'),
 (327, 'F1510'),
 (324, 'F1230_LAG1'),
 (315, 'F2300_LAG1'),
 (313, 'F2300'),
 (309, 'PLAINTIFF_CASESNUMBER_YEAR'),
 (296, 'F2110_LAG1'),
 (278, 'NOTADMITTEDNUMBER_95_YEAR'),
 (275, 'F1510_LAG1'),
 (272, 'OKVED:0:41'),
 (270, 'PLAINTIFF_CASESNUMBER_EVER'),
 (270, 'PLAINTIFF_SUM_EVER'),
 (264, 'OKVED:0:36'),
 (262, 'F1400'),
 (262, 'SIGNEDNUMBER_95_YEAR'),
 (254, 'F2210'),
 (248, 'OKVED:0:35'),
 (246, 'AGE'),
 (240, 'F1200'),
 (238, 'WORKERSRANGE:0 .. 5'),
 (235, 'DEFENDANT_SUM_YEAR'),
 (228, 'F1220'),
 (227, 'SUM_233_EVER'),
 (226, 'ADMITTEDNUMBER_233_EVER'),
 (225, 'F1260'),
 (223, 'F1600'),
 (216, 'OKVED:0:47'),
 (210, 'OKATO_REGIONCODE:45.0'),
 (209, 'F1370'),
 (205, 'F2210_LAG1'),
 (202, 'OKTMONEW:4:0'),
 (191, 'NOTADMITTEDNUMBER_233_EVER'),
 (185, 'F1150_LAG1'),
 (178, 'OKVED:1:31'),
 (174, 'OKFS_GROUP:Государственная собственность'),
 (173, 'COUNTCOOWNEREGRUL'),
 (172, 'F1550'),
 (170, 'F1410'),
 (170, 'ADMITTEDNUMBER_233_YEAR'),
 (169, 'OKATO_REGIONCODE:60.0'),
 (167, 'F2220'),
 (166, 'WINNERNUMBER_233_EVER'),
 (164, 'F1150'),
 (158, 'F2220_LAG1'),
 (158, 'MANAGERCOUNTINREGION'),
 (157, 'OKVED:0:81'),
 (152, 'OKVED:1:No'),
 (149, 'F2330_LAG1'),
 (147, 'F1240'),
 (146, 'F1310'),
 (145, 'PLAINTIFF_SUM_YEAR'),
 (143, 'IP_mean'),
 (141, 'OKATO_FED:30.0'),
 (139, 'COUNTCOOWNERROSSTAT'),
 (137, 'F1450'),
 (135, 'F2330'),
 (135, 'OKVED:1:38'),
 (128, 'WINNERNUMBER_233_YEAR'),
 (126, 'SUM_233_YEAR'),
 (123, 'F2320'),
 (122, 'OKTMONEW:2:0'),
 (118, 'OKVED:0:84'),
 (117, 'OKVED:1:11'),
 (116, 'OKVED:0:43'),
 (115, 'F1180'),
 (111, 'OKTMO:54701000001.0'),
 (110, 'COUNTBRANCHEGRUL'),
 (109, 'F1110'),
 (106, 'OKTMONEW:0:7'),
 (105, 'OKVED:1:39'),
 (101, 'OKVED:0:49'),
 (100, 'F1190'),
 (99, 'NOTADMITTEDNUMBER_233_YEAR'),
 (98, 'OKVED:0:68'),
 (96, 'DEFENDANT_CASESNUMBER_EVER'),
 (96, 'OKTMONEW:4:001'),
 (92, 'OKATO_FED:Nan'),
 (92, 'OKVED:0:10'),
 (92, 'OKVED:1:51'),
 (92, 'CLIENT:9135'),
 (92, 'OKTMONEW:3:2'),
 (91, 'WORKERSRANGE:501 .. 1000'),
 (90, 'OKVED:1:29'),
 (90, 'OKTMO:45390000000.0'),
 (89, 'DEFENDANT_CASESNUMBER_YEAR'),
 (88, 'OKVED:1:20'),
 (86, 'OKVED:0:56'),
 (86, 'OKVED:0:82'),
 (84, 'OKATO_REGIONCODE:75.0'),
 (84, 'OKVED:0:69'),
 (84, 'OKTMO:46748000001.0'),
 (83, 'F1420'),
 (83, 'OKTMO:98701000001.0'),
 (81, 'OKVED:1:12'),
 (79, 'OKATO_REGIONCODE:46.0'),
 (79, 'OKATO_REGIONCODE:65.0'),
 (79, 'OKVED:1:21'),
 (79, 'OKTMO:None'),
 (78, 'OKVED:0:55'),
 (77, 'MULTIC'),
 (76, 'OKATO_REGIONCODE:Nan'),
 (74, 'OKATO_FED:41.0'),
 (74, 'OKTMO:3701000001.0'),
 (70, 'OKOPF_GROUP:Без прав юридического лица'),
 (69, 'OKATO_REGIONCODE:35.0'),
 (69, 'OKATO_FED:40.0'),
 (68, 'F1410_LAG1'),
 (67, 'OKVED:1:1'),
 (66, 'F1360'),
 (66, 'OKATO_FED:33.0'),
 (66, 'OKVED:1:42'),
 (64, 'OKVED:0:90'),
 (63, 'OKATO_FED:34.0'),
 (63, 'OKVED:0:22'),
 (63, 'OKTMO:40378000000.0'),
 (63, 'OKTMO:45315000000.0'),
 (62, 'THIRDOROTHERPERSON_YEAR'),
 (62, 'OKTMO:46746000001.0'),
 (61, 'F1170'),
 (61, 'OKVED:1:43'),
 (61, 'OKTMO:11701000001.0'),
 (60, 'WORKERSRANGE:6 .. 10'),
 (58, 'SIGNEDNUMBER_233_YEAR'),
 (58, 'OKATO_REGIONCODE:92.0'),
 (58, 'OKTMONEW:3:1'),
 (57, 'OKATO_REGIONCODE:11.0'),
 (56, 'THIRDOROTHERPERSON_EVER'),
 (55, 'F1350'),
 (55, 'OKVED:0:71'),
 (54, 'OKTMO:45385000000.0'),
 (53, 'SIGNEDNUMBER_233_EVER'),
 (53, 'OKFS_GROUP:Частная собственность'),
 (53, 'WORKERSRANGE:11 .. 15'),
 (52, 'OKATO_REGIONCODE:80.0'),
 (52, 'OKTMO:45321000000.0'),
 (51, 'COUNT_CHANGE_EVER'),
 (51, 'SEX_NAME:мужской'),
 (51, 'OKVED:0:27'),
 (51, 'OKTMO:75701315000.0'),
 (51, 'OKTMONEW:0:8'),
 (50, 'F1530'),
 (50, 'OKVED:1:90'),
 (50, 'CLIENT:2582'),
 (50, 'OKTMO:19701000001.0'),
 (49, 'OKTMONEW:0:3'),
 (48, 'F1320'),
 (47, 'OKVED:1:4'),
 (47, 'OKTMONEW:1:1'),
 (46, 'WORKERSRANGE:16 .. 50'),
 (46, 'OKATO_FED:31.0'),
 (45, 'OKVED:0:74'),
 (44, 'OKVED:1:62'),
 (44, 'OKVED:1:99'),
 (44, 'OKTMO:45382000000.0'),
 (43, 'OKATO_REGIONCODE:91.0'),
 (43, 'OKVED:0:73'),
 (43, 'OKVED:0:86'),
 (42, 'OKVED:0:61'),
 (41, 'OKVED:1:18'),
 (41, 'OKTMO:45355000000.0'),
 (41, 'OKTMONEW:3:0'),
 (40, 'CLIENT:10092'),
 (39, 'OKTMO:45312000000.0'),
 (38, 'OKOPF_GROUP:Коммерческая унитарная организация'),
 (38, 'OKVED:0:63'),
 (37, 'OKVED:1:91'),
 (37, 'OKTMO:45316000000.0'),
 (36, 'WORKERSRANGE:151 .. 200'),
 (36, 'OKVED:1:49'),
 (35, 'COUNTBRANCHROSSTAT'),
 (34, 'OKATO_REGIONCODE:68.0'),
 (34, 'OKATO_REGIONCODE:79.0'),
 (34, 'OKTMONEW:4:051'),
 (32, 'OKVED:0:45'),
 (32, 'OKTMO:45909000000.0'),
 (31, 'OKOPF_GROUP:Коммерческая корпоративная организация'),
 (31, 'OKATO_REGIONCODE:52.0'),
 (31, 'OKVED:0:21'),
 (31, 'OKVED:0:95'),
 (31, 'OKTMONEW:1:3'),
 (30, 'OKATO_REGIONCODE:24.0'),
 (29, 'OKTMO:63650101001.0'),
 (29, 'OKTMO:65701000001.0'),
 (28, 'OKVED:0:94'),
 (28, 'OKVED:1:33'),
 (27, 'F1700'),
 (27, 'OKVED:0:62'),
 (27, 'OKVED:1:09'),
 (26, 'SEX_NAME:женский'),
 (26, 'OKVED:0:18'),
 (25, 'OKFS_GROUP:Иностранная собственность'),
 (25, 'OKATO_REGIONCODE:47.0'),
 (25, 'OKATO_REGIONCODE:96.0'),
 (25, 'OKVED:1:10'),
 (25, 'OKTMONEW:0:6'),
 (24, 'F2320_LAG1'),
 (24, 'OKFS_GROUP:Смешенная российская собственность'),
 (24, 'OKTMO:45325000000.0'),
 (24, 'OKTMONEW:2:3'),
 (23, 'OKOPF_GROUP:Некоммерческая унитарная организация'),
 (23, 'WORKERSRANGE:51 .. 100'),
 (23, 'OKATO_REGIONCODE:3.0'),
 (23, 'OKATO_REGIONCODE:71.0'),
 (23, 'OKTMO:45360000000.0'),
 (22, 'WORKERSRANGE:Nan'),
 (22, 'OKATO_REGIONCODE:17.0'),
 (22, 'OKVED:0:33'),
 (22, 'OKTMO:71701000001.0'),
 (22, 'OKTMO:80701000001.0'),
 (22, 'OKTMO:92701000001.0'),
 (22, 'OKTMONEW:2:4'),
 (21, 'OKATO_REGIONCODE:36.0'),
 (21, 'OKATO_REGIONCODE:42.0'),
 (21, 'OKVED:0:32'),
 (21, 'OKTMONEW:4:101'),
 (20, 'OKATO_REGIONCODE:67.0'),
 (20, 'OKTMO:45349000000.0'),
 (19, 'OKATO_REGIONCODE:22.0'),
 (19, 'OKVED:1:66'),
 (19, 'OKTMO:40373000000.0'),
 (18, 'OKVED:0:58'),
 (18, 'OKTMO:42701000001.0'),
 (18, 'OKTMO:45915000000.0'),
 (18, 'OKTMO:52701000001.0'),
 (18, 'OKTMONEW:1:4'),
 (17, 'OKATO_FED:38.0'),
 (17, 'OKVED:1:17'),
 (17, 'OKVED:1:9'),
 (16, 'EGRPOINCLUDED'),
 (16, 'OKVED:1:32'),
 (15, 'OKATO_REGIONCODE:98.0'),
 (15, 'OKVED:1:92'),
 (14, 'OKVED:0:38'),
 (14, 'OKTMO:17701000001.0'),
 (14, 'OKTMO:40911000000.0'),
 (14, 'OKTMO:60701000001.0'),
 (13, 'OKOPF_GROUP:Некоммерческая корпоративная организация'),
 (13, 'OKATO_REGIONCODE:27.0'),
 (13, 'OKVED:0:85'),
 (13, 'OKTMO:7701000001.0'),
 (13, 'OKTMONEW:1:0'),
 (12, 'OKATO_REGIONCODE:33.0'),
 (11, 'WORKERSRANGE:1001 .. 5000'),
 (11, 'OKATO_REGIONCODE:40.0'),
 (11, 'OKVED:1:69'),
 (11, 'CLIENT:12659'),
 (10, 'OKVED:1:13'),
 (10, 'OKTMO:3605101001.0'),
 (10, 'OKTMO:45373000000.0'),
 (10, 'OKTMO:45397000000.0'),
 (10, 'OKTMO:45918000000.0'),
 (10, 'OKTMO:45925000000.0'),
 (10, 'OKTMO:46783000001.0'),
 (10, 'OKTMO:75738000001.0'),
 (9, 'OKATO_REGIONCODE:50.0'),
 (9, 'OKATO_REGIONCODE:54.0'),
 (9, 'OKATO_REGIONCODE:64.0'),
 (9, 'OKVED:1:22'),
 (9, 'OKVED:1:24'),
 (9, 'OKTMO:57701000001.0'),
 (8, 'WORKERSRANGE:251 .. 500'),
 (8, 'OKATO_REGIONCODE:5.0'),
 (8, 'OKVED:0:42'),
 (8, 'OKVED:1:02'),
 (8, 'OKVED:1:44'),
 (8, 'OKTMO:45381000000.0'),
 (7, 'COUNTCOOWNERFCSM'),
 (7, 'WORKERSRANGE:101 .. 150'),
 (7, 'OKATO_REGIONCODE:18.0'),
 (7, 'OKATO_REGIONCODE:78.0'),
 (7, 'OKVED:0:14'),
 (7, 'OKVED:1:52'),
 (7, 'OKTMO:15701000001.0'),
 (7, 'OKTMO:33701000001.0'),
 (7, 'OKTMO:45393000000.0'),
 (7, 'OKTMO:70724000001.0'),
 (6, 'OKOGU_GROUP:Государственная власть в РФ'),
 (6, 'OKOGU_GROUP:Государственная власть в субъектах РФ'),
 (6, 'CITIZENSHIP_NAME:Nan'),
 (6, 'OKATO_REGIONCODE:4.0'),
 (6, 'OKATO_REGIONCODE:57.0'),
 (6, 'OKATO_REGIONCODE:58.0'),
 (6, 'OKATO_FED:42.0'),
 (6, 'OKVED:1:01'),
 (6, 'OKVED:1:73'),
 (6, 'OKTMO:45904000000.0'),
 (6, 'OKTMO:5701000001.0'),
 (5, 'OKATO_REGIONCODE:25.0'),
 (5, 'OKATO_REGIONCODE:41.0'),
 (5, 'OKTMO:32731000001.0'),
 (5, 'OKTMO:45376000000.0'),
 (4, 'COUNT_CHANGE_YEAR'),
 (4, 'WORKERSRANGE:201 .. 250'),
 (4, 'OKATO_REGIONCODE:63.0'),
 (4, 'OKVED:0:72'),
 (4, 'OKVED:1:19'),
 (4, 'OKVED:1:2'),
 (4, 'OKVED:1:30'),
 (4, 'OKTMO:18701000001.0'),
 (4, 'OKTMO:35701000001.0'),
 (4, 'OKTMO:45923000000.0'),
 (4, 'OKTMONEW:0:9'),
 (4, 'OKTMONEW:2:1'),
 (3, 'OKATO_REGIONCODE:8.0'),
 (3, 'OKATO_REGIONCODE:83.0'),
 (3, 'CLIENT:9925'),
 (3, 'OKTMO:69701000001.0'),
 (2, 'OKATO_REGIONCODE:7.0'),
 (2, 'OKVED:0:26'),
 (2, 'OKVED:0:37'),
 (2, 'CLIENT:11044'),
 (2, 'OKTMO:19730000001.0'),
 (2, 'OKTMO:37701000001.0'),
 (2, 'OKTMO:40306000000.0'),
 (2, 'OKTMO:50701000001.0'),
 (2, 'OKTMO:58701000001.0'),
 (2, 'OKTMO:60737000001.0'),
 (1, 'F1160'),
 (1, 'F2310'),
 (1, 'OKFS_GROUP:Совместная российская и иностранная собственность'),
 (1, 'OKATO_REGIONCODE:15.0'),
 (1, 'OKATO_REGIONCODE:53.0'),
 (1, 'OKATO_REGIONCODE:86.0'),
 (1, 'OKATO_REGIONCODE:97.0'),
 (1, 'OKVED:0:25'),
 (1, 'OKVED:0:80'),
 (1, 'OKVED:1:00'),
 (1, 'OKVED:1:3'),
 (1, 'OKVED:1:61'),
 (1, 'OKTMO:22701000001.0'),
 (1, 'OKTMO:24701000001.0'),
 (1, 'OKTMO:30701000001.0'),
 (1, 'OKTMO:40327000000.0'),
 (1, 'OKTMO:45323000000.0'),
 (1, 'OKTMO:45380000000.0'),
 (1, 'OKTMO:92730000001.0'),
 (0, 'IP_flag'),
 (0, 'COUNTBRANCH'),
 (0, 'FLAG_DISQUALIFICATION'),
 (0, 'OKFS_GROUP:Nan'),
 (0, 'OKOPF_GROUP:Nan'),
 (0, 'OKOGU_GROUP:Nan'),
 (0,
  'OKOGU_GROUP:Группировки хозяйствующих субъектов и общественных объединений'),
 (0, 'OKOGU_GROUP:Местное самоуправление в РФ'),
 (0, 'WORKERSRANGE:5000 и более'),
 (0, 'SEX_NAME:Nan'),
 (0, 'CITIZENSHIP_NAME:Армения'),
 (0, 'CITIZENSHIP_NAME:Казахстан'),
 (0, 'CITIZENSHIP_NAME:Российская Федерация'),
 (0, 'CITIZENSHIP_NAME:Таджикистан'),
 (0, 'OKATO_REGIONCODE:1.0'),
 (0, 'OKATO_REGIONCODE:10.0'),
 (0, 'OKATO_REGIONCODE:12.0'),
 (0, 'OKATO_REGIONCODE:14.0'),
 (0, 'OKATO_REGIONCODE:19.0'),
 (0, 'OKATO_REGIONCODE:20.0'),
 (0, 'OKATO_REGIONCODE:26.0'),
 (0, 'OKATO_REGIONCODE:28.0'),
 (0, 'OKATO_REGIONCODE:29.0'),
 (0, 'OKATO_REGIONCODE:30.0'),
 (0, 'OKATO_REGIONCODE:32.0'),
 (0, 'OKATO_REGIONCODE:34.0'),
 (0, 'OKATO_REGIONCODE:37.0'),
 (0, 'OKATO_REGIONCODE:38.0'),
 (0, 'OKATO_REGIONCODE:44.0'),
 (0, 'OKATO_REGIONCODE:49.0'),
 (0, 'OKATO_REGIONCODE:55.0'),
 (0, 'OKATO_REGIONCODE:56.0'),
 (0, 'OKATO_REGIONCODE:61.0'),
 (0, 'OKATO_REGIONCODE:66.0'),
 (0, 'OKATO_REGIONCODE:69.0'),
 (0, 'OKATO_REGIONCODE:70.0'),
 (0, 'OKATO_REGIONCODE:73.0'),
 (0, 'OKATO_REGIONCODE:76.0'),
 (0, 'OKATO_REGIONCODE:77.0'),
 (0, 'OKATO_REGIONCODE:81.0'),
 (0, 'OKATO_REGIONCODE:82.0'),
 (0, 'OKATO_REGIONCODE:84.0'),
 (0, 'OKATO_REGIONCODE:85.0'),
 (0, 'OKATO_REGIONCODE:87.0'),
 (0, 'OKATO_REGIONCODE:88.0'),
 (0, 'OKATO_REGIONCODE:89.0'),
 (0, 'OKATO_REGIONCODE:90.0'),
 (0, 'OKATO_REGIONCODE:93.0'),
 (0, 'OKATO_REGIONCODE:94.0'),
 (0, 'OKATO_REGIONCODE:95.0'),
 (0, 'OKATO_REGIONCODE:99.0'),
 (0, 'OKTMO_FED:30.0'),
 (0, 'OKTMO_FED:31.0'),
 (0, 'OKTMO_FED:33.0'),
 (0, 'OKTMO_FED:34.0'),
 (0, 'OKTMO_FED:38.0'),
 (0, 'OKTMO_FED:40.0'),
 (0, 'OKTMO_FED:41.0'),
 (0, 'OKTMO_FED:42.0'),
 (0, 'OKTMO_FED:Nan'),
 (0, 'OKVED:0:01'),
 (0, 'OKVED:0:02'),
 (0, 'OKVED:0:03'),
 (0, 'OKVED:0:05'),
 (0, 'OKVED:0:06'),
 (0, 'OKVED:0:07'),
 (0, 'OKVED:0:08'),
 (0, 'OKVED:0:11'),
 (0, 'OKVED:0:13'),
 (0, 'OKVED:0:15'),
 (0, 'OKVED:0:16'),
 (0, 'OKVED:0:17'),
 (0, 'OKVED:0:20'),
 (0, 'OKVED:0:23'),
 (0, 'OKVED:0:24'),
 (0, 'OKVED:0:28'),
 (0, 'OKVED:0:29'),
 (0, 'OKVED:0:30'),
 (0, 'OKVED:0:31'),
 (0, 'OKVED:0:39'),
 (0, 'OKVED:0:50'),
 (0, 'OKVED:0:51'),
 (0, 'OKVED:0:52'),
 (0, 'OKVED:0:53'),
 (0, 'OKVED:0:59'),
 (0, 'OKVED:0:60'),
 (0, 'OKVED:0:64'),
 (0, 'OKVED:0:65'),
 (0, 'OKVED:0:66'),
 (0, 'OKVED:0:70'),
 (0, 'OKVED:0:75'),
 (0, 'OKVED:0:77'),
 (0, 'OKVED:0:78'),
 (0, 'OKVED:0:79'),
 (0, 'OKVED:0:87'),
 (0, 'OKVED:0:88'),
 (0, 'OKVED:0:91'),
 (0, 'OKVED:0:93'),
 (0, 'OKVED:0:96'),
 (0, 'OKVED:0:97'),
 (0, 'OKVED:1:0'),
 (0, 'OKVED:1:03'),
 (0, 'OKVED:1:04'),
 (0, 'OKVED:1:07'),
 (0, 'OKVED:1:14'),
 (0, 'OKVED:1:15'),
 (0, 'OKVED:1:16'),
 (0, 'OKVED:1:23'),
 (0, 'OKVED:1:25'),
 (0, 'OKVED:1:34'),
 (0, 'OKVED:1:36'),
 (0, 'OKVED:1:37'),
 (0, 'OKVED:1:40'),
 (0, 'OKVED:1:41'),
 (0, 'OKVED:1:45'),
 (0, 'OKVED:1:47'),
 (0, 'OKVED:1:5'),
 (0, 'OKVED:1:50'),
 (0, 'OKVED:1:53'),
 (0, 'OKVED:1:54'),
 (0, 'OKVED:1:59'),
 (0, 'OKVED:1:6'),
 (0, 'OKVED:1:60'),
 (0, 'OKVED:1:63'),
 (0, 'OKVED:1:64'),
 (0, 'OKVED:1:65'),
 (0, 'OKVED:1:7'),
 (0, 'OKVED:1:70'),
 (0, 'OKVED:1:71'),
 (0, 'OKVED:1:72'),
 (0, 'OKVED:1:74'),
 (0, 'OKVED:1:75'),
 (0, 'OKVED:1:76'),
 (0, 'OKVED:1:77'),
 (0, 'OKVED:1:78'),
 (0, 'OKVED:1:8'),
 (0, 'OKVED:1:80'),
 (0, 'OKVED:1:82'),
 (0, 'OKVED:1:85'),
 (0, 'OKVED:1:86'),
 (0, 'OKVED:1:95'),
 (0, 'CLIENT:5159'),
 (0, 'CLIENT:5357'),
 (0, 'CLIENT:2512'),
 (0, 'CLIENT:12467'),
 (0, 'CLIENT:11273'),
 (0, 'CLIENT:11232'),
 (0, 'CLIENT:9901'),
 (0, 'CLIENT:10714'),
 (0, 'CLIENT:3452'),
 (0, 'CLIENT:2536'),
 (0, 'CLIENT:10845'),
 (0, 'CLIENT:10775'),
 (0, 'CLIENT:1324'),
 (0, 'CLIENT:11883'),
 (0, 'CLIENT:1872'),
 (0, 'CLIENT:11257'),
 (0, 'CLIENT:6466'),
 (0, 'CLIENT:10431'),
 (0, 'CLIENT:12508'),
 (0, 'CLIENT:471'),
 (0, 'CLIENT:10399'),
 (0, 'CLIENT:10342'),
 (0, 'CLIENT:8184'),
 (0, 'CLIENT:4740'),
 (0, 'CLIENT:10411'),
 (0, 'CLIENT:12663'),
 (0, 'CLIENT:7776'),
 (0, 'CLIENT:2072'),
 (0, 'CLIENT:9057'),
 (0, 'CLIENT:9996'),
 (0, 'CLIENT:209'),
 (0, 'CLIENT:1132'),
 (0, 'CLIENT:10868'),
 (0, 'CLIENT:7633'),
 (0, 'CLIENT:10066'),
 (0, 'CLIENT:5539'),
 (0, 'CLIENT:10684'),
 (0, 'CLIENT:11156'),
 (0, 'CLIENT:10552'),
 (0, 'CLIENT:10703'),
 (0, 'CLIENT:3873'),
 (0, 'CLIENT:4702'),
 (0, 'CLIENT:12656'),
 (0, 'CLIENT:9082'),
 (0, 'CLIENT:2951'),
 (0, 'CLIENT:7859'),
 (0, 'CLIENT:9073'),
 (0, 'CLIENT:464'),
 (0, 'CLIENT:10196'),
 (0, 'CLIENT:7644'),
 (0, 'CLIENT:3249'),
 (0, 'CLIENT:6436'),
 (0, 'CLIENT:8517'),
 (0, 'CLIENT:3496'),
 (0, 'CLIENT:5490'),
 (0, 'CLIENT:12237'),
 (0, 'CLIENT:2449'),
 (0, 'CLIENT:10861'),
 (0, 'CLIENT:10489'),
 (0, 'CLIENT:10255'),
 (0, 'CLIENT:1708'),
 (0, 'CLIENT:5423'),
 (0, 'CLIENT:8801'),
 (0, 'CLIENT:8760'),
 (0, 'CLIENT:10997'),
 (0, 'CLIENT:12470'),
 (0, 'CLIENT:820'),
 (0, 'CLIENT:2729'),
 (0, 'CLIENT:7084'),
 (0, 'CLIENT:11223'),
 (0, 'CLIENT:2492'),
 (0, 'CLIENT:10078'),
 (0, 'CLIENT:4870'),
 (0, 'CLIENT:7727'),
 (0, 'CLIENT:10694'),
 (0, 'CLIENT:6394'),
 (0, 'CLIENT:10781'),
 (0, 'CLIENT:3629'),
 (0, 'CLIENT:732'),
 (0, 'CLIENT:9888'),
 (0, 'CLIENT:2459'),
 (0, 'CLIENT:2785'),
 (0, 'CLIENT:10894'),
 (0, 'CLIENT:10167'),
 (0, 'CLIENT:8683'),
 (0, 'CLIENT:10266'),
 (0, 'CLIENT:3880'),
 (0, 'CLIENT:3620'),
 (0, 'CLIENT:3245'),
 (0, 'CLIENT:3207'),
 (0, 'CLIENT:10044'),
 (0, 'CLIENT:9831'),
 (0, 'CLIENT:7702'),
 (0, 'CLIENT:3493'),
 (0, 'CLIENT:10689'),
 (0, 'CLIENT:4676'),
 (0, 'CLIENT:3256'),
 (0, 'CLIENT:6961'),
 (0, 'CLIENT:10218'),
 (0, 'CLIENT:10439'),
 (0, 'CLIENT:6081'),
 (0, 'CLIENT:5358'),
 (0, 'CLIENT:12389'),
 (0, 'CLIENT:10201'),
 (0, 'CLIENT:7565'),
 (0, 'CLIENT:3021'),
 (0, 'CLIENT:12693'),
 (0, 'CLIENT:8110'),
 (0, 'CLIENT:5544'),
 (0, 'CLIENT:5131'),
 (0, 'CLIENT:2497'),
 (0, 'CLIENT:9734'),
 (0, 'CLIENT:4168'),
 (0, 'CLIENT:10017'),
 (0, 'CLIENT:1839'),
 (0, 'CLIENT:3567'),
 (0, 'CLIENT:9721'),
 (0, 'CLIENT:5218'),
 (0, 'CLIENT:646'),
 (0, 'CLIENT:10600'),
 (0, 'CLIENT:11685'),
 (0, 'CLIENT:3049'),
 (0, 'CLIENT:1691'),
 (0, 'CLIENT:3441'),
 (0, 'CLIENT:6899'),
 (0, 'CLIENT:9732'),
 (0, 'CLIENT:7851'),
 (0, 'CLIENT:11547'),
 (0, 'CLIENT:12016'),
 (0, 'CLIENT:8042'),
 (0, 'CLIENT:1010'),
 (0, 'CLIENT:3908'),
 (0, 'CLIENT:1302'),
 (0, 'CLIENT:6258'),
 (0, 'CLIENT:3862'),
 (0, 'CLIENT:10886'),
 (0, 'CLIENT:631'),
 (0, 'CLIENT:7458'),
 (0, 'CLIENT:2106'),
 (0, 'OKTMO:10701000001.0'),
 (0, 'OKTMO:10730000001.0'),
 (0, 'OKTMO:11851000001.0'),
 (0, 'OKTMO:12701000001.0'),
 (0, 'OKTMO:14701000001.0'),
 (0, 'OKTMO:14740000001.0'),
 (0, 'OKTMO:14750000001.0'),
 (0, 'OKTMO:1701000001.0'),
 (0, 'OKTMO:1705000001.0'),
 (0, 'OKTMO:17635173051.0'),
 (0, 'OKTMO:17735000001.0'),
 (0, 'OKTMO:18643440101.0'),
 (0, 'OKTMO:18710000001.0'),
 (0, 'OKTMO:20701000001.0'),
 (0, 'OKTMO:22642101001.0'),
 (0, 'OKTMO:22721000001.0'),
 (0, 'OKTMO:24705000001.0'),
 (0, 'OKTMO:24706000001.0'),
 (0, 'OKTMO:25701000001.0'),
 (0, 'OKTMO:25703000001.0'),
 (0, 'OKTMO:25714000001.0'),
 (0, 'OKTMO:27701000001.0'),
 (0, 'OKTMO:28701000001.0'),
 (0, 'OKTMO:28750000001.0'),
 (0, 'OKTMO:29608101001.0'),
 (0, 'OKTMO:29701000001.0'),
 (0, 'OKTMO:29715000001.0'),
 (0, 'OKTMO:32701000001.0'),
 (0, 'OKTMO:32716000001.0'),
 (0, 'OKTMO:34701000001.0'),
 (0, 'OKTMO:35620402101.0'),
 (0, 'OKTMO:35701000102.0'),
 (0, 'OKTMO:35712000001.0'),
 (0, 'OKTMO:3613101001.0'),
 (0, 'OKTMO:3641101001.0'),
 (0, 'OKTMO:36701305000.0'),
 (0, 'OKTMO:36701310000.0'),
 (0, 'OKTMO:36701325000.0'),
 (0, 'OKTMO:36701330000.0'),
 (0, 'OKTMO:36701335000.0'),
 (0, 'OKTMO:36701340000.0'),
 (0, 'OKTMO:36701345000.0'),
 (0, 'OKTMO:36735000001.0'),
 (0, 'OKTMO:36740000001.0'),
 (0, 'OKTMO:3703000001.0'),
 (0, 'OKTMO:3705000001.0'),
 (0, 'OKTMO:3708000001.0'),
 (0, 'OKTMO:3720000001.0'),
 (0, 'OKTMO:3726000001.0'),
 (0, 'OKTMO:38701000001.0'),
 (0, 'OKTMO:40301000000.0'),
 (0, 'OKTMO:40303000000.0'),
 (0, 'OKTMO:40305000000.0'),
 (0, 'OKTMO:40307000000.0'),
 (0, 'OKTMO:40308000000.0'),
 (0, 'OKTMO:40309000000.0'),
 (0, 'OKTMO:40313000000.0'),
 (0, 'OKTMO:40314000000.0'),
 (0, 'OKTMO:40315000000.0'),
 (0, 'OKTMO:40317000000.0'),
 (0, 'OKTMO:40318000000.0'),
 (0, 'OKTMO:40319000000.0'),
 (0, 'OKTMO:40322000000.0'),
 (0, 'OKTMO:40323000000.0'),
 (0, 'OKTMO:40324000000.0'),
 (0, 'OKTMO:40330000000.0'),
 (0, 'OKTMO:40332000000.0'),
 (0, 'OKTMO:40334000000.0'),
 (0, 'OKTMO:40335000000.0'),
 (0, 'OKTMO:40336000000.0'),
 (0, 'OKTMO:40338000000.0'),
 (0, 'OKTMO:40339000000.0'),
 (0, 'OKTMO:40342000000.0'),
 (0, 'OKTMO:40348000000.0'),
 (0, 'OKTMO:40349000000.0'),
 (0, 'OKTMO:40350000000.0'),
 (0, 'OKTMO:40351000000.0'),
 (0, 'OKTMO:40352000000.0'),
 (0, 'OKTMO:40355000000.0'),
 (0, 'OKTMO:40375000000.0'),
 (0, 'OKTMO:40377000000.0'),
 (0, 'OKTMO:40381000000.0'),
 (0, 'OKTMO:40382000000.0'),
 (0, 'OKTMO:40391000000.0'),
 (0, 'OKTMO:40392000000.0'),
 (0, 'OKTMO:40393000000.0'),
 (0, 'OKTMO:40902000000.0'),
 (0, 'OKTMO:40906000000.0'),
 (0, 'OKTMO:40910000000.0'),
 (0, 'OKTMO:40912000000.0'),
 (0, 'OKTMO:40913000000.0'),
 (0, 'OKTMO:41612101001.0'),
 (0, 'OKTMO:41615101001.0'),
 (0, 'OKTMO:42715000001.0'),
 (0, 'OKTMO:44701000001.0'),
 (0, 'OKTMO:45301000000.0'),
 (0, 'OKTMO:45303000000.0'),
 (0, 'OKTMO:45305000000.0'),
 (0, 'OKTMO:45307000000.0'),
 (0, 'OKTMO:45308000000.0'),
 (0, 'OKTMO:45309000000.0'),
 (0, 'OKTMO:45313000000.0'),
 (0, 'OKTMO:45314000000.0'),
 (0, 'OKTMO:45318000000.0'),
 (0, 'OKTMO:45319000000.0'),
 (0, 'OKTMO:45320000000.0'),
 (0, 'OKTMO:45322000000.0'),
 (0, 'OKTMO:45324000000.0'),
 (0, 'OKTMO:45326000000.0'),
 (0, 'OKTMO:45327000000.0'),
 (0, 'OKTMO:45328000000.0'),
 (0, 'OKTMO:45329000000.0'),
 (0, 'OKTMO:45330000000.0'),
 (0, 'OKTMO:45333000000.0'),
 (0, 'OKTMO:45334000000.0'),
 (0, 'OKTMO:45335000000.0'),
 (0, 'OKTMO:45336000000.0'),
 (0, 'OKTMO:45338000000.0'),
 (0, 'OKTMO:45341000000.0'),
 (0, 'OKTMO:45345000000.0'),
 (0, 'OKTMO:45346000000.0'),
 (0, 'OKTMO:45347000000.0'),
 (0, 'OKTMO:45348000000.0'),
 (0, 'OKTMO:45351000000.0'),
 (0, 'OKTMO:45353000000.0'),

In [ ]:
test["TARGET"]=1

In [ ]:
#заменяем клиентов без заполненных полей на нули. Зависимость из трэйна
X = test.drop(columns=[ 'id_contract', 'SIGN_DATE', 'IP_flag', "id_client", "DIFF_TIME", "DIFF_TIME_mean", "IP_mean", "MULTIC", "COUNT_D", "DIFF_TIME_multic", "COUNT", "TARGET"]).values
#"TIME"
col = []
for i in range(X.shape[0]):
  line = []
  for j in range(X.shape[1]):
    try:
        line.append(np.isnan(X[i,j]))
    except TypeError:
        line.append(False)
  col.append(all(line))

ypred[col] = 0
test['TARGET'] = ypred.tolist()
test[['id_contract', 'TARGET']].to_csv('submit_file.csv', sep=';', index=False)
test[['id_contract', 'TARGET']].head()

   id_contract    TARGET
0        17892  0.000000
1        17893  0.023120
2        17894  0.060916
3        17895  0.332837
4        17896  0.949792

## Решение без неоднозначных фичей

In [ ]:
train, test = train_c.copy(), test_c.copy()
train, test = applyCommonTransforms(train, test, fair=True)

In [ ]:
train = train.drop(columns=["COUNT"]).merge(train[["id_client", "SIGN_DATE", "COUNT"]].groupby(["id_client", "SIGN_DATE"]).max().reset_index(), on=["id_client", "SIGN_DATE"], how = "left")
test = test.drop(columns=["COUNT"]).merge(test[["id_client", "SIGN_DATE", "COUNT"]].groupby(["id_client", "SIGN_DATE"]).max().reset_index(), on=["id_client", "SIGN_DATE"], how = "left")

In [ ]:
clf = LGBMClassifier(n_estimators=1500, learning_rate=0.01)
transformer_list = [("SimpleReal", SimpleRealExtractor() ),
                      ("SimpleCat", SimpleCategorialExtractor() ),
                      ("OKVED", OKVEDExtractor()), #,
                      ("Good Client", BestClientExtractor(train) ),
                      ("Good regions", OKTMOExctractor(train, fair=True) ),
                      ("regions new code", OKTMOExtractorNew() ),
                      ("Time", TimeExctractor())
                      ]
union = FeatureUnion(transformer_list)
X_full_train = union.fit_transform(train)
clf.fit(X_full_train, train.TARGET.values)

ypred = clf.predict_proba(union.transform(test))[:, 1]

test["TARGET"]=1
X = test.drop(columns=[ 'id_contract', 'SIGN_DATE', 'IP_flag', "id_client", "DIFF_TIME", "DIFF_TIME_mean", "IP_mean", "MULTIC", "COUNT_D", "DIFF_TIME_multic", "COUNT", "TARGET"]).values
#"TIME"
col = []
for i in range(X.shape[0]):
  line = []
  for j in range(X.shape[1]):
    try:
        line.append(np.isnan(X[i,j]))
    except TypeError:
        line.append(False)
  col.append(all(line))

ypred[col] = 0
test['TARGET'] = ypred.tolist()
test[['id_contract', 'TARGET']].to_csv('submit_file_fair.csv', sep=';', index=False)
test[['id_contract', 'TARGET']].head()

   id_contract    TARGET
0        17892  0.000000
1        17893  0.018777
2        17894  0.122698
3        17895  0.319343
4        17896  0.963836